.index-buttons {
    /* height: 100%;
    width: 50%; */
    border: 2px solid #0EAD80;
    border-radius: 1vw;
    background-color:aquamarine;
}

.index-buttons #throw-button {
    width: 90%;
    height: 100%;
}

@media only screen and (min-width: 700px) {
    /* .index-buttons {
        width: 49.81%;
    } */
}
