body {
    background-color: #8CD5F5;
}

.top-bar {
    border: 2px solid #F00;
    width: 99.4%;
    margin-bottom: 1vw;
}

.game-board {
    border: 2px solid #F00;
    width: 99.4%;
    margin-right: 1vw;
    margin-bottom: 1vw;
    float: top;
}

.game-board .dice-images {
    height: calc(100% / 5);
    width: calc(100% / 5);
}

.score-card {
    border: 2px solid #F00;
    width: 99.4%;
    float: top;
}

@media only screen and (min-width: 700px) {
    .game-board {
        width: 46vw;
        float: left;
    }

    .score-card {
        width: 49vw;
        float: right;
    }
}
